@import "fonts.css";
@import "variables.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--light);
}
/******************************elements design******************************/
img { /*responsive img*/
    max-width: 100%;
    height: auto;
}
hr { /*hr generic design*/
    border: 1.5px solid rgba(0, 0, 0, 0.1);
}
.content a.btn, .form-button button{ /*button generic design*/
    text-decoration: none;
    display: inline-block;
    width: 30%;
    font-size: 20px;
    font-family: var(--light);
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1.5px;
    text-align: center;
    padding: 10px 0;
}

.content a.btn:hover, .form-button button:hover {/*button hover generic design*/
    opacity: 85%;
    cursor: pointer;
    transition: 0.3s;
}
main.content h1 {/*main headline*/
    font-size: 42px;
    font-family: var(--bold);
    text-align: center;
    letter-spacing: 1.5px;
}
/******************************forms design******************************/
main.form {
    background: rgba(0, 0, 0, 0.1);
    padding: 50px 200px;
}
div.form-content {
    position: relative;
    border-radius: 5px;
    background-color: white;
    padding: 30px 50px;
}
.form-content h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: var(--regular);
    letter-spacing: 1.5px;
    display: block;
    padding: 10px;
}
.form-content h2 {
    font-size: 20px;
    font-family: var(--light);
    padding: 0 0 20px 20px;
}
.form-content h2.required {
    font-size: 16px;
}
.form-content .required {
    color: red;
}
.form-input {
    font-family: var(--light);
    font-size: 18px;
    display: inline-block;
    padding: 20px 0 10px 20px;
}
.inputs {
    padding: 0 0 10px 20px;
    font-family: var(--light);
    font-size: 16px;
}
input[type="email"], input[type="text"], input[type="url"]{
    font-family: var(--light);
    font-size: 16px;
    padding-top: 5px;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 25%;
}
input[type="url"] {
    width: 70%;
}
.form-button {
    padding: 20px 0;
}
form .inputs select, input[type="number"] {
    font-family: var(--light);
    font-size: 16px;
    width: 30%;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
input[type="number"]{
    width: 10%;
}
.error {
    padding: 10px;
    background-color: var(--delete-color);
    color: white;
    border-radius: 5px;
    width: 60%;
    font-family: var(--regular);
    font-size: 16px;
}
.closebtn {
    margin-left: 10px;
    color: white;
    float: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
/********************************************************************************/
@media print {
    main.form {
        padding: 10px;
    }
    div.form-content, main.content {
        float: left;
        padding: 0;
    }
    @page {
        margin: 10mm;
    }
    header {
        display: none;
    }
    footer {
        display: none;
    }
    button {
        display: none;
    }
}

