img.picture {
    float: left;
    margin-top: 50px;
    padding: 20px 20px 40px 5px;
}
.image-box {
    display: inline;
    float: left;
    width: 25%;
    height: 300px;
    padding: 10px;
}
.gallery {
    margin: auto;
    width: 80%;
}
